
.icon-chat:before { content: '\e800'; } /* '' */
.icon-sound:before { content: '\e801'; } /* '' */
.icon-rocket:before { content: '\e802'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */